node_modules
.image-cache.json /otherwise images won't run
# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/static/cdn
/static/uploads
/static/audio
# (optional) ignore any CMS temp files
.cache/
# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
